<div class="wrapper">
    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><strong><i>Beers For ALL</i></strong></a>
                </div>
                <div class="nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
                    <a href="" (click)="home()">Home</a>&nbsp;&nbsp;
                    <a href="#">Settings</a>&nbsp;&nbsp;
                    <a href="#">About</a>&nbsp;&nbsp;
                    <a routerLink="/form_page">Add a Beer</a>&nbsp;&nbsp;
                    <a routerLink="/cart_page">Liked</a>&nbsp;&nbsp;
                    <input #box (keyup.enter)="onEnter(box.value)" class="search"
                        placeholder="search on enter">&nbsp;&nbsp;
                    <a routerLink="/signup_page">Sign Up</a>&nbsp;&nbsp;
                    <a routerLink="/login_page" (click)="logout()" *ngIf="authService.user | async">Logout</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero_image">
        <img class="image_properties" src="../assets/beer_hero.jpg">
    </div>
    <div id="searchbox" class="row">
    <div *ngFor="let item of array">
        <div class="card column col-sm-12 col-md-4">
            <img src={{item.image}} alt="Avatar" style="width:100%">
            <div class="container">
                <h5><b>{{item.category}}</b></h5>

            </div>
        </div>
    </div>
</div>

</div>